<!DOCTYPE html>
<html lang="en" id="Echo" style="height:100%">
<head>
   <link rel="stylesheet" href="jquery/css/custom-theme-green2/jquery-ui-1.10.3.custom.css" />
   <script src="jquery/js/jquery-1.9.1.js"></script>
   <script src="jquery/js/jquery-ui-1.10.3.custom.js"></script>
   <title>Lineage</title>
   <link rel="shortcut icon" type="image/x-icon" href="http://echokindness.com/echo/images/EchoIcon.png">
   <link href="common/echo_style.css" rel="stylesheet">
</head>
