<!-- <script src="views/logged_in/javascript/logged_in_menu.js" type="text/javascript"></script> -->

<div class="side_menu ui-widget">
   <div>
      <div class="user_page_info_pic">
         <!-- <?php echo $login->user_gravatar_image_tag; ?> -->
      </div>
      <div class="user_page_info">
         <a href="edit.php" rel="nofollow">TEST<!-- <?php echo $_SESSION['user_name']; ?>--></a>
         </br>
         <a href="edit.php" rel="nofollow">Edit Profile</a>
      </div>
      <div>
         <h4 class="logged_in_action">ACTIONS</h4>
      </div>
      <div id="home" class="logged_in_actions">
         Home
      </div>
      <div id="create_chain_menu_option" class="logged_in_actions">
         Create Chain
      </div>
      <div id="enter_deed" class="logged_in_actions">
         Enter A Deed
      </div>
      <div id="search_chains" class="logged_in_actions">
         Search Chains
      </div>
      <div>
         <h4 class="logged_in_action">FAVORITES</h4>
      </div>
      <div id="my_stuff" class="logged_in_actions">
         My Stuff
      </div>
   </div>
</div>
